/* .navigation-link {
    text-decoration: none;
    margin: 0vw 2vw;
    border-radius: 30px;
    padding: 10px;
    transition: .5s all ease;
    color: black;
}

.navigation-link:hover{
    background-color: #5CBE7D;
    color: black;
}

.navigation-bar{
    background-color: #DAFFFF;
    padding: 2%;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    margin: 1%;
} */


.navigation-bar{
    background-color: white;
    padding: 2%;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    margin: 0% 0;
    border-bottom: 2px solid black;
  }
  
  
  .navigation-link {
    text-decoration: none;
    margin: 0vw 2vw;
    border-radius: 30px;
    padding: 10px;
    transition: .5s all ease;
    color: black;
    border: 2px solid black;
    font-size: 1.2rem;
  
  }
  
  
  .navigation-link:hover{
    background-color: black;
    color: white;
  }
  